<!-- NAVBAR -->

<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="http://www.shapr.net/bundles/frontbundle/images/logo-shapr-medium.png" />
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item btn-treehouse">Hire Me</a>
  </div>
</div>





<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(to right, rgba(224, 93, 73,0.6) 0%, rgba(153, 107, 130,0.6) 40%, rgba(87, 135, 198,0.6) 80%, rgba(62, 151, 232,0.6) 100%), url('http://www.ninezero.com/images/1700-960/sailboats-in-boston-0a5755ca.jpg');">
  <div class="banner-content">
  	<br>
  	<img src="http://i.imgur.com/dAwzYP7.png" alt="">
    <h2>NETWORKING AS WE KNOW IT IS DEAD.<br/> BOSTON-09/09/16</h2><br>
    <a href="https://itunes.apple.com/app/shapr/id859091569">
    	<img src="http://www.shapr.net/bundles/frontbundle/images/top-download-appstore.png" alt="Download appstore">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.shapr">
    	<img src="http://www.shapr.net/bundles/frontbundle/images/top-download-googleplay.png" alt="Download google play">
    </a><br><br>
    <a class="btn btn-primary btn-lg">JOIN THE LAUNCH PARTY!</a>
  </div>
</div>


<div class="container-features text-center"><br>
	<h1>What is Shapr?</h1>
	<div class="container padded">
	  <div class="row">
	    <div class="col-xs-12 col-sm-4">
	      <div class="card text-center" style="background-color: white">
	        <div class="image-card">
	        	<img src="http://i.imgur.com/MTJls0v.png" alt="">
	        </div>
	        <div class="card-description">
	          <h2>Daily networking made simple</h2>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-4">
	      <div class="card text-center" style="background-color: white">
	      	<div class="image-card">
	      		<img src="http://i.imgur.com/zRJepBg.png" alt="">
	      	</div>
	        <div class="card-description">
	          <h2>Meet like-minded people</h2>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-4">
	      <div class="card text-center" style="background-color: white">
	      	<div class="image-card">
	      		<img src="http://i.imgur.com/8U0UY1e.png" alt="">
	      	</div>
	        <div class="card-description">
	          <h2>Fire up the conversation</h2>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<div class="container-event">
	<div class="row text-center">
		<div class="col-xs-12">
			<h1>Join the party. Discover the future of networking.</h1><br>
			<p>Join us on the 09/09/2016 at Wework Boston for an exclusive event where you'll learn about the future of networking and work in general. Don't miss this chance for a new networking experience where digital meets the real world</p>
		</div>
	</div>
</div>


<div class="banner" style="background-image: url('http://i.imgur.com/ehKqlwX.jpg');">
  <div class="banner-content">
  	<br>
  	
    <a class="btn btn-primary btn-lg">JOIN THE LAUNCH PARTY!</a>
  </div>
</div>
